@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f5f5f5;
    font-family: 'poppins';
}

.nav {
    align-items: center;
    background-color: #3D5A22;
    height: 60px;
    width: 100%;
    padding-right: 100px;

}

.logo {
    height: 73px;
    margin-bottom: -13px;
    object-fit: cover;
    width: 86px;
    cursor: pointer;
    position: absolute;
    left: 30px;
}

.nav ul {
    float: right;
    list-style: none;
}

.nav ul li {
    text-align: center;
    float: left;
}

.nav ul li:hover {
    background: #ffffff;
}

.nav ul li:hover a {
    color: #000;
}

.nav ul li a {
    display: block;
    padding: 25px;
    color: #fff;
    text-decoration: none;
}

.header {
    width: 100%;
    margin-top: 50px;


}

.banner {
    width: 100%;
    height: 400px;

}

.text-header {
    padding-top: 100px;
}

.text-header h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.header p {
    font-size: 32px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.category {
    width: 100%;
    margin-top: 74px;
    padding: 10px;
    text-align: center;
}

.category h2 {
    font-family: 'Poppins';
}

.category p {
    text-align: center;
}

.food img {
    width: 156px;
    height: 184px;
}


/* frame4 */

.frame4 {
    width: 100%;
    left: 0px;
}

.frame4 img {
    display: flex;
    width: 100%;

}

.shop {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;

}

/* .shop .container {
    padding: 10px;
    width: 1211px;
    height: 100px;
    border: #000 solid 1px;
} */

.shop .container h2 {
    padding-top: 20px;
}

/* .shop .container p {} */

.etalase {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.barang {
    background-color: #d8d8d8;
    margin-top: 50px;
    margin: 30px;
    width: 200px;
    height: 250px;
    border-radius: 8px;

}

.barang img {
    width: 150px;
    padding-top: 20px;
}

.barang h2 {
    text-align: center;
    padding-left: 25px;

}

.barang p {
    padding-bottom: 10px;
}

.barang button {
    border: none;
    padding: 5px 15px;
    color: #fff;
    border-radius: 5px;
    background-color: #3D5A22;
    cursor: pointer;
}

.more {
    display: flex;
    position: absolute;
    margin-top: 250px;
    padding-top: 100px;

}

.more button {
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #3D5A22;
    cursor: pointer;
    border: none;
}


footer {
    margin-top: 6rem;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #3D5A22;
}

footer p {
    padding: 5px;
}

.nama a {
    color: #fff;

}

.nama a span {
    padding: 10px;

}



/* About */

.main-about {
    margin-bottom: -2px;
    margin-top: 5rem;
    width: fit-content;
    text-align: justify;

}

.text {
    width: fit-content;
    margin-right: 80px;
    margin-left: 80px;
}

.main-about .text h2 {
    text-align: center;
    padding-bottom: 20px;

}

.orang {
    float: left;
    width: 300px;
    margin-left: 5rem;
}


.aboutfot {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #3D5A22;
}

.aboutfot p {
    padding: 5px;
}

/* produk */

.topbanner {
    width: 100%;

}

.topbanner img {
    width: 100%;
    margin-top: -10px;
    box-shadow: #000;
}


/* Team */
.our-team {
    border: #000 solid 1px;
    text-align: center;
    margin: 30px;


}

.container h1 {
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}


.team {
    width: 325px;
    height: 437px;
    background-color: #142B00;
    border-radius: 15px;
    color: #ffffff;
    float: left;
    margin: 20px;
    padding: 0px 0px 0px;

}

.team img {
    max-width: 100%;
    display: block;
    height: auto;
}

.team h2 {
    font-size: 25px;
    padding-top: 15px;
}

.team span {
    font-size: 20px;
    font-weight: 200;
}

.team p {
    font-size: 25px;
    font-style: bold;
}

/* blog */

.main-blog {
    margin-left: 100px;
    margin-right: 100px;

}

.main-blog th {
    padding: 30px;
}

.main-blog h2 {
    text-align: left;
}

.main-blog p {
    text-align: justify;
    font-style: normal;

}

.main-blog a {
    color: #000;
    text-decoration: none;
}

.blogimg {
    border-radius: 15px;
}


/* sub-blog */

.sub-blog {
    text-align: center;

    margin-left: 50px;
    margin-right: 50px;
}

.text-blog {
    margin-top: 1px;
    padding: 50px;
}

.text-blog b {
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 35px;

}

.sub-blog img {
    width: 600px;
    height: auto;
    margin: 10px;
    padding-top: 30px;
}

#quote {
    padding: 10px;
    font-size: 10px;
    font-weight: 300;
}

.main-sub {
    text-align: justify;
    margin-right: 50px;
    margin-left: 50px;
}